FORMAT: 1A
HOST: https://www.csast.csas.cz/webapi/api/v1

# DEV SelfService CDM 

The Web-API is unified project that allow client's access to the 
internal systems in the Bank thought RESTfull API.

## Basics
WEB-API is based on REST principles, all you need to use it is your browser or any 
other http client. You have to be authenticated and  call the simple HTTPs request 
on the URL specified below. The following documentation covers core resources 
that are used to manipulate with the main entities. 

First of all, read basic instructions to start using the API.

<code>Access to the server is allowed anonymously or with _API key_ passed in HTTP header</code>

Allowed HTTPs requests:
-----------------------
    POST   :   To create or update resource 
    PUT    :   Update existing resource
    GET    :   Get a resource or list of resources
    DELETE :   To delete resource

Description Of Usual Server Responses
-------------------------------------
* 200 <code>OK</code> - the request was successful (some API calls may return 201 instead).
* 201 <code>Created</code> - the request was successful and a resource was created.
* 204 <code>No Content</code> - the request was successful but there is no representation to return (i.e. the response is empty).
* 400 <code>Bad Request</code> - the request could not be understood or was missing required parameters.
* 401 <code>Unauthorized</code> - authentication failed or user doesn't have permissions for requested operation.
* 403 <code>Forbidden</code> - access denied.
* 404 <code>Not Found</code> - resource was not found.
* 405 <code>Method Not Allowed</code> - requested method is not supported for resource.

# Security
When calling an API that does not access private user data, you can use a simple API key. 
This key is used to authenticate your application for statistical purposes.

## API Key

**An API key** is a unique key that you can generate using the _WebAPI Console_. When your 
application needs to call an API that's enabled in this project, the application passes 
this key into all API requests in the HTTP header as a <code>WEB-API-key=_API_key parameter_</code>. 
Use of this key does not require any user action or consent, does not grant access to 
any account information, and is not used for authorization.

## Signature

API key signature is optional additional level of security for your API key. Use of signature can be activated in WebAPI console.
Signed request can't be forged, modified or resend. 
Signature consists of two additional HTTP headers ``signature`` and ``nonce``.

``signature`` is generated using private cryptographic key, that can be obtained in WebAPI console

``nonce`` have to be unique for every request, and it ensures that request can't be reused

### Signing algorithm

1. generate unique ```nonce```
1. strip server name from requestUrl
1. construct request to be signed using ```apiKey + nonce + requestUrl + requestData``` 
1. sign request using _HMAC-SHA1_ algorithm with key
1. encode your signature using _Base64_ 
1. add signature and nonce to the request headers

### Signature example
Example implementation using JavaScript:
<a class="jsbin-embed" href="http://jsbin.com/ofIjAXUC/12/edit?js,console">JS Bin</a>
<script src="http://static.jsbin.com/js/embed.js"></script>


## OAuth 2.0

Google APIs use the OAuth 2.0 protocol for authentication and authorization. 
Google supports common OAuth 2.0 scenarios such as those for web server, installed, and client-side applications.

**OAuth 2.0** is a relatively simple protocol. To begin, you register your application 
within WebAPI. Then your client application requests an access token from the 
WebAPI Authorization Server, extracts a token from the response, and sends the 
token to the WebAPI that you want to access.

In order to use _OAuth 2.0_ in your application, you must first generate an 
<code>OAuth 2.0 client ID</code> by specifying some information for your project. Your 
application uses this client ID when requesting an OAuth 2.0 access token. WebAPI uses the 
branding information to render the consent page that requests authorization 
from users. You can generate, edit, or revoke OAuth 2.0 client IDs and branding 
information using the _WebAPI Console_.

When you create a client ID, you must specify the type of application the client ID 
is for. You can currently choose between a Web application and an Installed application
(such as smart-phone application), or you can choose to create a client ID for a 
Service account. Each Console project supports up to five OAuth 2.0 client IDs at 
any one time, so, your project can define an application with multiple 
components. We strongly recommend not sharing OAuth 2.0 client IDs between projects. 
For more information about how to implement _OAuth 2.0_ in your application, see OAuth 2.0 
documentation.

    Note: You must use either an OAuth 2.0 access token, an API key or anonymous access 
    for all your applications. 

    Not all APIs require authorized calls. See this API documentation to learn whether 
    authorization is required for specific calls.

# Front-end vs. back-end reusability
Because services will look very much the same for SelfServis front-end and SelfServis back-end we will reuse their definition. There will be one general and important difference - we will use CLUID instead of Authorization hash in headers.

Request header on Self Service back-end should look like this:

    WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
    CLUID: vF9dft4qmT

There should be no differencies in service attributes or JSON definitions between those two layers.

# Formats

## Date and time
All date and time atributes in JSON are in ISO 8601 format. i.e. 1997-07-16T19:20:30+01:00

## Phone numbers
All phone numbers are in format +xxxxxxxxxxxx. i.e. +420666555444

## Account numbers
Whole account number is split to multiple fields 

    "accountPrefix": "0"
    "accountNumber": "379554193"
    "bankCode": "0800"

## IBAN

IBAN field format looks like this: "CZ5508000000000379554193"

## Addresses
Address is defined by multiple fields in JSON

    "street": "Polská"
    "houseNumber": "22"
    "orientationNumber": "3C"
    "city": "Jaroměř"
    "district": "Staré město"
    "zip": 79000
    "countryCode": "CZ"

## Address type
We have three types of address at this very moment.

    BASIC
    ADDITION
    DIFF_ADDRESSEE
    
## Pruduct view type
We have seven types of product view at this very moment.

    GENERAL
    EIGER
    STARBANK
    PWC
    DON
    SPZ
    S24

## Identity document type
Possible values for identity document type are following:

    ID_CARD
    PASSPORT
    DRIVING_LICENCE
    
However only <code>ID_CARD</code> is valid for v1 API

## IDs and code tables
All JSON attributes named with <code>id</code> are internal ids generated by BL SS.

All JSON attribures named with <code>code</code> are values from code table, which is localy accessed to FE SS



---

# Group Client
APIs for work with Clients

## Get client detail [/selfservice/client]
Secured service to get client detail from SS BL

### Return desired client detail [GET]
Returns detail of authenticated client. Client's detail consists of his name, titles, personal numer (rodné číslo), birth day, birth place, citizenship, gender and tax residency. There are also infromation about his identity document and his contacts. Address type is basic address without any addition. Other addressee is not posible to specify for clients addresses.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        {
            "firstName": "Jana",
            "lastName": "Princeznová",
            "birthName" : "",
            "titleBefore": "Ing.",
            "titleAfter": "Ph.D.",
            "personalNumber": "7807054421",
            "birthDate": "1987-07-05",
            "birthPlace": "Praha",
            "birthCountryCode": "CZ",
            "gender": "MALE",
            "citizenshipCountryCode": "CZ",
            "taxResidentCountryCode": "CZ",
            "identityDocument": 
                {
                    "type": "ID_CARD",
                    "number": "12164246",
                    "issueDate": "2011-01-20",
                    "expireDate": "2019-01-20",
                    "issuer": "MěÚ Jaroměř",
                    "issueCountryCode" : "CZ"
                },
            "contacts" : 
                {
                "residentAddress":
                    {
                    "id" : 528064244,
                    "addressType" : "BASIC", 
                    "street": "Polská",
                    "houseNumber": "22",
                    "orientationNumber": "3C",
                    "city": "Jaroměř",
                    "district": "Staré město",
                    "zip": 79000,
                    "countryCode": "CZ",
                    "validated" : true
                    },
                "contactAddress":
                    {
                    "id" : 52754243,
                    "addressType" : "BASIC", 
                    "street": "Finská",
                    "houseNumber": "145",
                    "orientationNumber": "387",
                    "city": "Litvínov",
                    "district": "Staré město",
                    "zip": 89000,
                    "countryCode": "CZ",
                    "validated" : true
                    },
                "primaryPhone": 
                    {
                        "id" : 12345235,
                        "number" : "+420666123456"
                    },
                "secondaryPhone": 
                    {
                        "id" : 745879987,
                        "number": "+420666654321"
                    },
                "primaryEmail": 
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml"
                    },
                "secondaryEmail" :
                    {
                        "id" : 87654532,
                        "email": "another@email.eml"
                    }
            }
        }

+ Response 401 (application/json)

# Group Addresses
APIs for work with addresses

## Get client addresses [/selfservice/addresses]
Secured service used to obtain client addresses registered in CRM. 

### Return adresses of client [GET]
Returns list of all addresses stored in CRM for authenticated client. This resource returns all addresses binded to authenticated client, regardless of their type.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 528064244,
                "addressType" : "BASIC", 
                "street": "Polská",
                "houseNumber": "22",
                "orientationNumber": "3C",
                "city": "Jaroměř",
                "district": "Staré město",
                "zip": 79000,
                "countryCode": "CZ",
                "validated" : true
            },
            {
                "id" : 52754243,
                "addressType" : "ADDITION",
                "street": "Finská",
                "houseNumber": "145",
                "orientationNumber": "387",
                "city": "Litvínov",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "CZ",
                "addition" : "Doplněk adresy",
                "validated" : true
            },
            {
                "id" : 52754242,
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Krymská",
                "houseNumber": "793",
                "orientationNumber": "56",
                "city": "Moskva",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "RU",
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák",
                "validated" : true
            }
        ]
        
+ Response 401 (application/json)

### Create new address [POST]
Creates new address in CRM. Following attributes must be specified in request (according to their required / optional specification). You need to specify type of provided address (see Address type). 

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| addressType | string | Type of address | required |
| street | string | Name of street | required |
| houseNumber | string | House number | required |
| orientationNumber | string | Orientation number | _optional_ |
| city | string | Name of city | required |
| district | string | Name of city part | _optional_ |
| zip | number | Also known as PSČ in Czech Republic | required |
| countryCode | string | Country code from code table | required |
| addition | string | Additional information, like floor number | _optional_ |
| differentAddressee | string | Field to specify different addressee than client | _optional_ 

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body
    
            {
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Ugrofinská",
                "houseNumber": "456",
                "orientationNumber": "71A",
                "city": "České Budějovice",
                "district": "Nové město",
                "zip": 39000,
                "countryCode": "CZ"
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák"
            }

+ Response 201 (application/json)
    + Body

            {
                "id" : 987654321
            }
    
+ Response 401 (application/json)

## Get client addresses [/selfservice/addresses/basic]
Secured service used to obtain client addresses registered in CRM. 

### Return basic adresses of client [GET]
Returns list of all addresses of type <code>basic</code> stored in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 528064244,
                "addressType" : "BASIC",
                "street": "Polská",
                "houseNumber": "22",
                "orientationNumber": "3C",
                "city": "Jaroměř",
                "district": "Staré město",
                "zip": 79000,
                "countryCode": "CZ",
                "validated" : true
                
            }
        ]
        
+ Response 401 (application/json)

## Get client addresses [/selfservice/addresses/withAddition]
Secured service used to obtain client addresses registered in CRM. 

### Return adresses of client with addition [GET]
Returns list of all addresses of type <code>withAddition</code> stored  in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 52754243,
                "addressType" : "ADDITION",
                "street": "Finská",
                "houseNumber": "145",
                "orientationNumber": "387",
                "city": "Litvínov",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "CZ",
                "addition" : "Doplněk adresy",
                "validated" : true
            }
        ]
        
+ Response 401 (application/json)

## Get client addresses [/selfservice/addresses/withDiffAddressee]
Secured service used to obtain client addresses registered in CRM. 

### Return adresses of client [GET]
Returns list of all addresses of type <code>withDiffAddressee</code> stored in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 52754242,
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Krymská",
                "houseNumber": "793",
                "orientationNumber": "56",
                "city": "Moskva",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "RU",
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák",
                "validated" : true
            }
        ]
        
+ Response 401 (application/json)

## Force Address [/selfservice/addresses/force]
Service for forcing to store addresse despite its failed validation against RUIAN. Following attributes must be specified in request (according to their required / optional specification). You need to specify type of provided address (see Address type). 

### Force address [POST]
Forces storing of address.

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| addressType | string | Type of address | required |
| street | string | Name of street | required |
| houseNumber | string | Street number | required |
| orientationNumber | string | Orientation number | _optional_ |
| city | string | Name of city | required |
| district | string | Name of city part | _optional_ |
| zip | number | Also known as PSČ in Czech Republic | required |
| countryCode | string | Country code from code table | required |
| addition | string | Additional information, like floor number | _optional_ |
| differentAddressee | string | Field to specify different addressee than client | _optional_ 

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body
    
            {
                "id" : 52754242,
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Krymská",
                "houseNumber": "793",
                "orientationNumber": "56",
                "city": "Moskva",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "RU",
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák",
                "validated" : true
            }

+ Response 200 (application/json)
    + Body

            {
                "addressResult" : "OK"
            }
    
+ Response 401 (application/json)

# Group Phones
APIs for work with phone numbers

## Phones [/selfservice/phones]
Work with collection of clients phone numbers

### Return all phones [GET]
Returns all phone numbers stored for authenticated user. Phone numbers are returned with country code and without spaces.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

        [
            {
                "id" : 12345235,
                "number" : "+420666123456"
            },
            {
                "id" : 745879987,
                "number": "+420666654321"
            },
            {
                "id" : 987656782,
                "number": "+420666656543"
            },
            {
                "id" : 987656783,
                "number": "+420666656542"
            },
            {
                "id" : 987656784,
                "number": "+420666626543"
            }
        ]
+ Response 401 (application/json)

### Add new phone [POST]
Creates new phone number and binds it to authenticated user, so next time it will be returned along with other phone numbers. You need to specify only phone number itself in request. Format is full number with country code without spaces 

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| phoneNumber | string | Client's phone number | required |

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            {
                "phoneNumber": "+420666654300"
            }

+ Response 201 (application/json)

        {    
        "id": 745879988
        }

+ Response 401 (application/json)

# Group Emails
APIs for work with clients emails

## Emails [/selfservice/emails]
Work with collection of clients emails

### Get all emails [GET]
Returns all emails binded to authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 2345678,
                "email": "some@email.eml"
            },
            {
                "id" : 87654532,
                "email": "another@email.eml"
            },
            { 
                "id" : 78355820,
                "email": "yet.another@email.eml"
            }
        ]
        
+ Response 401 (application/json)

### Add new email address [POST]
Creates new email and binds it to authenticated client, so next time it will be returned along with other emails. You need to specify only email itself, standard email validation in place.

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| email | string | Client's email | required |

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            {
                "email": "new@email.eml"
            }

+ Response 201 (application/json)

        {    
            "id": "87654533"
        }

+ Response 401 (application/json)

# Group Products
APIs for work with clients products

## Products [/selfservice/products]
Work with collection of products

### Get products list [GET]
Returns list of all products, that have any relation to authenticated client. This method returns only data needed for product listing. Product detail is returned by other service.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

            [
                { "productId" : 1929390, "businessName" : "Běžný produkt", "additionalHeader" : "1234-9876543210/0800", "viewType" : "GENERAL" },
                { "productId" : 1929391, "businessName" : "Investiční produkt", "additionalHeader" : "1234-9876543210/0800", "viewType" : "DON" },
                { "productId" : 1929392, "businessName" : "Karta", "additionalHeader" : "5380 34** **** 1453", "viewType" : "EIGER" },
                { "productId" : 1929393, "businessName" : "Internet Banking", "additionalHeader" : "", "viewType" : "S24" },
                { "productId" : 1929394, "businessName" : "Účet", "additionalHeader" : "1234-9876543210/0800", "viewType" : "SPZ" },
                { "productId" : 1929395, "businessName" : "Účet", "additionalHeader" : "1234-9876543210/0800", "viewType" : "STARBANK" },
                { "productId" : 1929396, "businessName" : "Karta", "additionalHeader" : "5380 34** **** 1453", "viewType" : "PWC" }
            ]

+ Response 401 (application/json)

## Product [/selfservice/products/{productId}]
Work with single product. 

### Get product detail [GET]
Returns detail information of product with <code>productId</code> specified in request. To get all product ids, you need to call /selfservice/products method. There are seven types of product view (see Product view type), which determines what attributes will be returned and how they will be represented in presentation layer. For more info you check ProductView Class Diagram.

+ Parameters

    + productId (required, number, `1234654`) ... ID of requested `product`.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            { 
                "productId" : 1929390,
                "viewType" : "GENERAL",
                "role" : "Vlastník",
                "contactAddress" :
                    {
                        "id" : 528064245,
                        "addressType" : "BASIC",
                        "street": "Antala staška",
                        "houseNumber": "567/87",
                        "orientationNumber": "43B",
                        "city": "Praha",
                        "district": "Staré město",
                        "zip": 14000,
                        "countryCode": "CZ",
                        "validated" : false
                    }
            }
            
+ Response 401 (application/json)
            
### Update product [PUT]
Updates contact information on specified product. It is neccessary to specify products view type (<code>viewType</code>), which defines how is product handled in BL and Bank's systems.

+ Parameters

    + productId (required, number, `1234654`) ... ID of requested `product`.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            { 
                "productId" : 1929390,
                "viewType" : "GENERAL",
                "contactAddress" :
                    {
                        "id" : 528064245,
                        "addressType" : "BASIC",
                        "street": "Antala staška",
                        "houseNumber": "567/87",
                        "orientationNumber": "43B",
                        "city": "Praha",
                        "district": "Staré město",
                        "zip": 14000,
                        "countryCode": "CZ",
                        "validated" : false
                    }
            }
    
+ Response 200 (application/json)

+ Response 401 (application/json)

## Product [/selfservice/products/1929391]
Fake service for exemple of product with viewType <code>don</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            { 
                "productId" : 1929391,
                "viewType" : "DON",
                "role" : "Vlastník",
                "accountBalanceEmailA" : { "id" : 2345678, "email" : "some@email.eml" },
                "accountBalanceEmailB" : { "id" : 87654532, "email": "another@email.eml" },
                "accountBalanceSmsNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "accountBalanceSmsNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "dealsOverviewAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "dealsOverviewEmail" :
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml" 
                    },
                "portfolioOverviewAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "portfolioOverviewEmail" : 
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml" 
                    },
                "statementSeriesAddress" : 
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "statementSeriesEmail" :
                    {
                        "id" : 2345678,
                        "email" : "some@email.eml"
                    }
            }

+ Response 401 (application/json)

## Product [/selfservice/products/1929392]
Fake service for exemple of product with viewType <code>eiger</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929392,
                "viewType" : "EIGER",
                "role" : "Vlastník",
                "secure3dPhoneNumber" : "+420 666 777 888",
                "issueNewCard" : true,
                "pinRecoveryAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    }
            }

+ Response 401 (application/json)

## Product [/selfservice/products/1929393]
Fake service for exemple of product with viewType <code>s24</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929393,
                "viewType" : "S24",
                "role" : "Vlastník",
                "loginAuthorizationNumber" :
                    {
                        "id" : 745879987,
                        "number": "+420666654321"
                    },
                "contactAddress" :
                    {
                        "id" : 528064244,
                        "addressType" : "BASIC",
                        "street": "Polská",
                        "houseNumber": "22",
                        "orientationNumber": "3C",
                        "city": "Jaroměř",
                        "district": "Staré město",
                        "zip": 79000,
                        "countryCode": "CZ",
                        "validated" : true
                    },
                "eInvoiceEmailA" : { "id" : 2345678, "email" : "some@email.eml" },
                "eInvoiceEmailB" : { "id" : 87654532, "email": "another@email.eml" },
                "eInvoiceEmailC" : { "id" : 78355820, "email": "yet.another@email.eml" },
                "eInvoicePhoneNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "eInvoicePhoneNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "eInvoicePhoneNumberC" : { "id" : 987656782, "number": "+420666656543" }
            }

+ Response 401 (application/json)

## Product [/selfservice/products/1929394]
Fake service for exemple of product with viewType <code>spz</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929394,
                "viewType" : "SPZ",
                "role" : "Vlastník",
                "accountBalanceEmailA" : { "id" : 2345678, "email" : "some@email.eml" },
                "accountBalanceEmailB" : { "id" : 87654532, "email": "another@email.eml" },
                "accountBalanceSmsNumber" : { "id" : 12345235, "number" : "+420666123456" },
                "adviceEmailA" : { "id" : 2345678, "email" : "some@email.eml" },
                "adviceEmailB" : { "id" : 87654532, "email": "another@email.eml" },
                "cardOperationSmsNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "cardOperationSmsNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "cardOperationSmsNumberC" : { "id" : 987656782, "number": "+420666656543" },
                "cardOperationSmsNumberD" : { "id" : 987656783, "number": "+420666656542" },
                "cardOperationSmsNumberE" : { "id" : 987656784, "number": "+420666626543" },
                "failedDirectDebitSmsNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "failedDirectDebitSmsNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "failedDirectDebitSmsNumberC" : { "id" : 987656782, "number": "+420666656543" },
                "failedDirectDebitSmsNumberD" : { "id" : 987656783, "number": "+420666656542" },
                "failedDirectDebitSmsNumberE" : { "id" : 987656784, "number": "+420666626543" },
                "overdraftMaturitySmsNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "overdraftMaturitySmsNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "overdraftMaturitySmsNumberC" : { "id" : 987656782, "number": "+420666656543" },
                "overdraftMaturitySmsNumberD" : { "id" : 987656783, "number": "+420666656542" },
                "overdraftMaturitySmsNumberE" : { "id" : 987656784, "number": "+420666626543" },
                "failedRecurringPaymentSmsNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "failedRecurringPaymentSmsNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "failedRecurringPaymentSmsNumberC" : { "id" : 987656782, "number": "+420666656543" },
                "failedRecurringPaymentSmsNumberD" : { "id" : 987656783, "number": "+420666656542" },
                "failedRecurringPaymentSmsNumberE" : { "id" : 987656784, "number": "+420666626543" },
                "failedSinglePaymentSmsNumberA" : { "id" : 12345235, "number" : "+420666123456" },
                "failedSinglePaymentSmsNumberB" : { "id" : 745879987, "number": "+420666654321" },
                "failedSinglePaymentSmsNumberC" : { "id" : 987656782, "number": "+420666656543" },
                "failedSinglePaymentSmsNumberD" : { "id" : 987656783, "number": "+420666656542" },
                "failedSinglePaymentSmsNumberE" : { "id" : 987656784, "number": "+420666626543" },
                "seriesAStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesBStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesCStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    }
            }

+ Response 401 (application/json)

## Product [/selfservice/products/1929395]
Fake service for exemple of product with viewType <code>starBank</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929395,
                "viewType" : "STARBANK",
                "role" : "Vlastník",
                "adviceEmailA" : { "id" : 2345678, "email" : "some@email.eml" },
                "adviceEmailB" : { "id" : 87654532, "email": "another@email.eml" },
                "notificationAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "correspondenceAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesAStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesBStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesCStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesDStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesEStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesFStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesGStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesHStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    },
                "seriesIStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák",
                        "validated" : true
                    }
            }

+ Response 401 (application/json)

## Product [/selfservice/products/1929396]
Fake service for exemple of product with viewType <code>pwc</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929396,
                "viewType" : "PWC",
                "role" : "Vlastník",
                "issueNewCard" : true,
                "cardPinDeliveryAddress" : 
                    {
                        "id" : 52754243,
                        "addressType" : "ADDITION",
                        "street": "Finská",
                        "houseNumber": "145",
                        "orientationNumber": "387",
                        "city": "Litvínov",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "CZ",
                        "addition" : "Doplněk adresy",
                        "validated" : true
                    }
            }

+ Response 401 (application/json)

# Group Attachments
APIs for work with attachments

## Upload Attachments [/selfservice/attachments]
Upload ID Card attachment

### Attachments List [GET]
Returns id's of all attachments associated with authenticated client and current application

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

            [
                { "id" : 2029390 },
                { "id" : 2029391 }
            ]

+ Response 401 (application/json)


### Upload Image [POST]
This service allows you to upload image of attachment to our server. This is intended for uploading images of identity card. Attachment is allways converted to .pdf on our back-end. In case there are two images uploaded (two calls of this service) our back-end will merge this to one .pdf. Uploaded image should be referenced by returned id.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Content-Type: image/jpeg

    + Body

            ......JFIF.............0Photo: Osvaldo Gago
            http://www.fotografar.net....Photoshop 3.0.8BIM.......x............beach.....Algarve.....Faro..n..Osvaldo Gago..t.*Creative Commons Atribuition + Share Alike..z..Osvaldo Gago.8BIM........fotografar.net..1.Exif..II*................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................h..............................."...........................$...........,...........d....... ...l............................... .................).............
            ..."...........\...................................... .......... .C................... 
            
            ...................."...........D.....f...*...........................*.....(............................................... 
            .. 
            ....'.................................................IMG:PowerShot G5 JPEG...........Firmware Version 1.00...................................
            .........D...%.................@...........

+ Response 201 (application/json)

            {
            "id": "090383"
            }

+ Response 401 (application/json)

## Attachments [/selfservice/attachments/{id}]
Work with single attachment

### Delete Attachment [DELETE]
This service will delete all attachments associated with current application.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 204 (application/json) 

### Get Attachment [GET]
Returns attachment associated with current application, it is always an .pdf file. If there were two images uploaded, they are merged to one .pdf and returned under one id.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 200 (image/jpeg)

            -----BOUNDARY
            Content-Type: image/jpeg
            Content-Length: 1573
            
            ......JFIF.............0Photo: Osvaldo Gago
            http://www.fotografar.net....Photoshop 3.0.8BIM.......x............beach.....Algarve.....Faro..n..Osvaldo Gago..t.*Creative Commons Atribuition + Share Alike..z..Osvaldo Gago.8BIM........fotografar.net..1.Exif..II*................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................h..............................."...........................$...........,...........d....... ...l............................... .................).............
            ..."...........\...................................... .......... .C................... 
            
            ...................."...........D.....f...*...........................*.....(............................................... 
            .. 
            ....'.................................................IMG:PowerShot G5 JPEG...........Firmware Version 1.00...................................
            .........D...%.................@...........
            -----BOUNDARY

# Group Applications
APIs to store and load applications

## Application initialize [/selfservice/application/init]
Initilizes application and returns it's state
Possible values of applicationState are <code>DATA_ENTRY</code>, <code>CREATED</code>, <code>AUTHORIZED</code>, <code>CANCELED</code>, <code>DENIED</code>, <code>UNFINISHED</code>, <code>FINISHED</code>, <code>SAVED</code>

### Get application state [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 201 (application/json)

            {
                "state": "AUTHORIZED",
                "reasonForRejection" : ""
            }

+ Response 401 (application/json)

## Authorize application [/selfservice/application/authorize]
Signs application - after calling this method application should be in <code>AUTHORIZED</code> state.

### Authorize application [POST]
This method authorizes application and proceeds it to next state in it's life cycle. Following parameters should be provided. 

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| timestamp | DateTime | Date and time when user requested authorization | required |
| authorizationCode | String | String with SMS authorization code, if used channel is Service24. In other channels there is authorization made out of application | _optional_ |

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            {
                "timestamp" : "1997-07-16",
                "authorizationCode" : "oSDj-5iSh-89JJ-U289"
            }

+ Response 200 (application/json)

+ Response 401 (application/json)

### Get authorization summary [GET]
Returns summary of changes in application for review before authorization itself. It is as whole application and there is attribute "changed" at each changable itemm, which specifies if value was changed by client or not.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

            {
            "applicationId" : 1542637347,
            "client" :
            {
                "firstName": "Jana",
                "firstNameChanged" : false,
                "lastName": "Princeznová",
                "lastNameChanged" : true,
                "birthName" : "",
                "birthNameChanged" : true,
                "titleBefore": "Ing.",
                "titleBeforeChanged" : true,
                "titleAfter": "Ph.D.",
                "titleAfterChanged" : false,
                "personalNumber": "7807054421",
                "personalNumberChanged" : true,
                "birthDate": "1987-07-05",
                "birthDateChanged" : false,
                "birthPlace": "Praha",
                "birthPlaceChanged" : false,
                "birthCountryCode": "CZ",
                "birthCountryCodeChanged" : false,
                "gender": "MALE",
                "citizenshipCountryCode": "CZ",
                "citizenshipCountryCodeChanged" : true,
                "taxResidentCountryCode": "CZ",
                "taxResidentCountryCodeChanged" : true,
                "identityDocument": 
                    {
                        "type": "ID_CARD",
                        "number": "12164246",
                        "numberChanged" : true,
                        "issueDate": "2011-01-20",
                        "issueDateChanged" : true,
                        "expireDate": "2019-01-20",
                        "expireDateChanged" : true,
                        "issuer": "MěÚ Jaroměř",
                        "issuerChanged" : true,
                        "issueCountryCode" : "CZ",
                        "issueCountryCodeChanged" : false
                    },
                "contacts" : 
                    {
                    "residentAddress":
                        {
                        "id" : 528064244,
                        "addressType" : "BASIC",
                        "street": "Polská",
                        "houseNumberNumber": "22",
                        "orientationNumber": "3C",
                        "city": "Jaroměř",
                        "district": "Staré město",
                        "zip": 79000,
                        "countryCode": "CZ",
                        "validated" : true
                        },
                    "residentAddressChanged" : false,
                    "contactAddress":
                        {
                        "id" : 52754243,
                        "addressType" : "BASIC",
                        "street": "Finská",
                        "houseNumber": "145",
                        "orientationNumber": "387",
                        "city": "Litvínov",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "CZ",
                        "validated" : true
                        },
                    "contactAddressChanged" : false,
                    "primaryPhone": 
                        {
                            "id" : 12345235,
                            "number" : "+420666123456"
                        },
                    "primaryPhoneChanged" : true,
                    "secondaryPhone": 
                        {
                            "id" : 745879987,
                            "number": "+420666654321"
                        },
                    "secondaryPhoneChanged" : true,
                    "primaryEmail": 
                        { 
                            "id" : 2345678,
                            "email" : "some@email.eml"
                        },
                    "primaryEmailChanged" : true,
                    "secondaryEmail" :
                        {
                            "id" : 87654532,
                            "email": "another@email.eml"
                        },
                    "secondaryEmailChanged" : false
                }
            },
            "products" :
            [
                { 
                    "productId" : 1929390,
                    "viewType" : "GENERAL",
                    "role" : "Vlastník",
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "contactAddress" :
                        {
                            "id" : 528064244,
                            "addressType" : "BASIC",
                            "street": "Polská",
                            "houseNumber": "22",
                            "orientationNumber": "3C",
                            "city": "Jaroměř",
                            "district": "Staré město",
                            "zip": 79000,
                            "countryCode": "CZ",
                            "validated" : true
                        },
                    "contactAddressChanged" : false
                },
                { 
                    "productId" : 1929391,
                    "viewType" : "DON",
                    "role" : "Vlastník",
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "accountBalanceEmailA" : { "id" : 2345678, "email" : "some@email.eml", "changed" : false },
                    "accountBalanceEmailB" : { "id" : 87654532, "email": "another@email.eml", "changed" : true },
                    "accountBalanceSmsNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : false },
                    "accountBalanceSmsNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : false },
                    "dealsOverviewAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "dealsOverviewAddressChanged" : false,
                    "dealsOverviewEmail" :
                        { 
                            "id" : 2345678,
                            "email" : "some@email.eml" 
                        },
                    "dealsOverviewEmailChanged" : true,
                    "portfolioOverviewAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "portfolioOverviewAddressChanged" : true,
                    "portfolioOverviewEmail" : 
                        { 
                            "id" : 2345678,
                            "email" : "some@email.eml" 
                        },
                    "portfolioOverviewEmailChanged" : false,
                    "statementSeriesAddress" : 
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "statementSeriesAddressChanged" : true,
                    "statementSeriesEmail" :
                        {
                            "id" : 2345678,
                            "email" : "some@email.eml"
                        },
                    "statementSeriesEmailChanged" : false
                },
                {
                    "productId" : 1929392,
                    "viewType" : "EIGER",
                    "role" : "Vlastník",
                    "cardNumber" : "5380 34** **** 1453",
                    "3dSecurePhoneNumber" : "+420 666 777 888",
                    "issueNewCard" : true,
                    "issueNewCardChanged" : true,
                    "pinRecoveryAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "pinRecoveryAddressChanged" : false
                },
                {
                    "productId" : 1929393,
                    "viewType" : "S24",
                    "role" : "Vlastník",
                    "loginAuthorizationNumber" :
                        {
                            "id" : 745879987,
                            "number": "+420666654321"
                        },
                    "loginAuthorizationNumberChanged" : false,
                    "contactAddress" :
                        {
                            "id" : 528064244,
                            "addressType" : "BASIC",
                            "street": "Polská",
                            "houseNumber": "22",
                            "orientationNumber": "3C",
                            "city": "Jaroměř",
                            "district": "Staré město",
                            "zip": 79000,
                            "countryCode": "CZ",
                            "validated" : true
                        },
                    "contactAddressChanged" : false,
                    "eInvoiceEmailA" : { "id" : 2345678, "email" : "some@email.eml", "changed" : false },
                    "eInvoiceEmailB" : { "id" : 87654532, "email": "another@email.eml", "changed" : true },
                    "eInvoiceEmailC" : { "id" : 78355820, "email": "yet.another@email.eml", "changed" : true },
                    "eInvoicePhoneNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : true },
                    "eInvoicePhoneNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : true },
                    "eInvoicePhoneNumberC" : { "id" : 987656782, "number": "+420666656543", "changed" : true }
                },
                {
                    "productId" : 1929394,
                    "viewType" : "SPZ",
                    "role" : "Vlastník",
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "accountBalanceEmailA" : { "id" : 2345678, "email" : "some@email.eml", "changed" : false },
                    "accountBalanceEmailB" : { "id" : 87654532, "email": "another@email.eml", "changed" : true },
                    "accountBalanceSmsNumber" : { "id" : 12345235, "number" : "+420666123456", "changed" : false },
                    "adviceEmailA" : { "id" : 2345678, "email" : "some@email.eml", "changed" : false },
                    "adviceEmailB" : { "id" : 87654532, "email": "another@email.eml", "changed" : true },
                    "cardOperationSmsNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : false },
                    "cardOperationSmsNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : false },
                    "cardOperationSmsNumberC" : { "id" : 987656782, "number": "+420666656543", "changed" : true },
                    "cardOperationSmsNumberD" : { "id" : 987656783, "number": "+420666656542", "changed" : true },
                    "cardOperationSmsNumberE" : { "id" : 987656784, "number": "+420666626543", "changed" : true },
                    "failedDirectDebitSmsNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : false },
                    "failedDirectDebitSmsNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : true },
                    "failedDirectDebitSmsNumberC" : { "id" : 987656782, "number": "+420666656543", "changed" : true },
                    "failedDirectDebitSmsNumberD" : { "id" : 987656783, "number": "+420666656542", "changed" : false },
                    "failedDirectDebitSmsNumberE" : { "id" : 987656784, "number": "+420666626543", "changed" : false },
                    "overdraftMaturitySmsNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : true },
                    "overdraftMaturitySmsNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : true },
                    "overdraftMaturitySmsNumberC" : { "id" : 987656782, "number": "+420666656543", "changed" : true },
                    "overdraftMaturitySmsNumberD" : { "id" : 987656783, "number": "+420666656542", "changed" : false },
                    "overdraftMaturitySmsNumberE" : { "id" : 987656784, "number": "+420666626543", "changed" : false },
                    "failedRecurringPaymentSmsNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : true },
                    "failedRecurringPaymentSmsNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : false },
                    "failedRecurringPaymentSmsNumberC" : { "id" : 987656782, "number": "+420666656543", "changed" : false },
                    "failedRecurringPaymentSmsNumberD" : { "id" : 987656783, "number": "+420666656542", "changed" : false },
                    "failedRecurringPaymentSmsNumberE" : { "id" : 987656784, "number": "+420666626543", "changed" : false },
                    "failedSinglePaymentSmsNumberA" : { "id" : 12345235, "number" : "+420666123456", "changed" : true },
                    "failedSinglePaymentSmsNumberB" : { "id" : 745879987, "number": "+420666654321", "changed" : true },
                    "failedSinglePaymentSmsNumberC" : { "id" : 987656782, "number": "+420666656543", "changed" : true },
                    "failedSinglePaymentSmsNumberD" : { "id" : 987656783, "number": "+420666656542", "changed" : false },
                    "failedSinglePaymentSmsNumberE" : { "id" : 987656784, "number": "+420666626543", "changed" : false },
                    "seriesAStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesAStatementAddressChanged" : true,
                    "seriesBStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesBStatementAddressChanged" : false,
                    "seriesCStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesCStatementAddressChanged" : false
                },
                {
                    "productId" : 1929395,
                    "viewType" : "STARBANK",
                    "role" : "Vlastník",
                    "adviceEmailA" : { "id" : 2345678, "email" : "some@email.eml", "changed" : true },
                    "adviceEmailB" : { "id" : 87654532, "email": "another@email.eml", "changed" : false },
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "notificationAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "notificationAddressChanged" : true,
                    "correspondenceAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "correspondenceAddressChanged" : false,
                    "seriesAStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesAStatementAddressChanged" : false,
                    "seriesBStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesBStatementAddressChanged" : true,
                    "seriesCStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesCStatementAddressChanged" : false,
                    "seriesDStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesDStatementAddressChanged" : true,
                    "seriesEStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesEStatementAddressChanged" : false,
                    "seriesFStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesFStatementAddressChanged" : false,
                    "seriesGStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesGStatementAddressChanged" : false,
                    "seriesHStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesHStatementAddressChanged" : true,
                    "seriesIStatementAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák",
                            "validated" : true
                        },
                    "seriesIStatementAddressChanged" : false
                },
                {
                    "productId" : 1929396,
                    "viewType" : "PWC",
                    "role" : "Vlastník",
                    "cardNumber" : "5380 34** **** 1453",
                    "issueNewCard" : true,
                    "issueNewCardChanged" : true,
                    "cardPinDeliveryAddress" : 
                        {
                            "id" : 52754243,
                            "addressType" : "ADDITION",
                            "street": "Finská",
                            "houseNumber": "145",
                            "orientationNumber": "387",
                            "city": "Litvínov",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "CZ",
                            "addition" : "Doplněk adresy",
                            "validated" : true
                        },
                    "cardPinDeliveryAddressChanged" : false
                }
            ]
        }

## Save Application [/selfservice/application/save]
Save application for later.

### Save application [PUT]
Saves application for later. After succesfull call application should be in <code>SAVED</code> state. Whole application must be uploaded by this method. Validation of whole application on server side occurs. If there are any validation errors, they are returned in response.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 201 (application/json)

+ Response 401 (application/json)

## Finalize application [/selfservice/application/finalize]
Finalizes application

### Finalize application [PUT]
Finalizes applications and prepare it for authorization. After calling this method, application should be in <code>FINISHED</code> state. After that application could be athorized. Validation of whole application on server side occurs. If there are any validation errors, they are returned in response

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 201 (application/json)

+ Response 401 (application/json)

## Cancel application [/selfservice/application/cancel]
Cancels application. Application is canceled in our business logic. This should be used only if application was not stored in Bank systems - <code>DATA ENTRY</code> status.

### Cancel application [DELETE]
Cancels current application and user can start again from scratch or do not apply at all.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 204 (application/json)

+ Response 401 (application/json)

## Application storno [/selfservice/application/storno]
Cancel application. Application is canceled in our business logic and in bank systems. Application storno is possible only in certain application statuses.

### Storno application [DELETE]
Cancels current application (in CDM BL and bank systems) and user can start again from scratch or do not apply at all.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 204 (application/json)

+ Response 401 (application/json)

# Group Code Tables
APIs for work with code tables

## Get country code table [/selfservice/codetable/country]
Secured service to get code table with countries

### Return country codetable [GET]
Returns code table with countries.
This is only example of JSON static resource. It will be not implemented on SS BL

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

            [
            { "countryCode" : "CZ", "order" : "1", "nameCz" : "Česká republika", "nameEn" : "Czech Republic" },
            { "countryCode" : "SK", "order" : "2", "nameCz" : "Slovenská republika", "nameEn" : "Slovakia" },
            { "countryCode" : "DE", "order" : "3", "nameCz" : "Německo", "nameEn" : "Germany" },
            { "countryCode" : "AT", "order" : "4", "nameCz" : "Rakousko", "nameEn" : "Austria" },
            { "countryCode" : "PL", "order" : "5", "nameCz" : "Polsko", "nameEn" : "Poland" },
            { "countryCode" : "HR", "order" : "7", "nameCz" : "Chorvatsko", "nameEn" : "Croatia" },
            { "countryCode" : "HU", "order" : "8", "nameCz" : "Maďarsko", "nameEn" : "Hungary" },
            { "countryCode" : "GR", "order" : "9", "nameCz" : "Řecko", "nameEn" : "Greece" },
            { "countryCode" : "ES", "order" : "10", "nameCz" : "Španělsko", "nameEn" : "Spain" },
            { "countryCode" : "FR", "order" : "11", "nameCz" : "Francie", "nameEn" : "France" },
            { "countryCode" : "IT", "order" : "12", "nameCz" : "Itálie", "nameEn" : "Italy" },
            { "countryCode" : "CH", "order" : "13", "nameCz" : "Švýcarsko", "nameEn" : "Switzerland" },
            { "countryCode" : "GB", "order" : "14", "nameCz" : "Spojené království", "nameEn" : "United Kingdom" },
            { "countryCode" : "BG", "order" : "15", "nameCz" : "Bulharsko", "nameEn" : "Bulgaria" },
            { "countryCode" : "RO", "order" : "16", "nameCz" : "Rumunsko", "nameEn" : "Romania" },
            { "countryCode" : "DK", "order" : "17", "nameCz" : "Dánsko", "nameEn" : "Denmark" },
            { "countryCode" : "FI", "order" : "18", "nameCz" : "Finsko", "nameEn" : "Finland" },
            { "countryCode" : "NO", "order" : "19", "nameCz" : "Norsko", "nameEn" : "Norway" },
            { "countryCode" : "IE", "order" : "20", "nameCz" : "Irsko", "nameEn" : "Ireland" },
            { "countryCode" : "BE", "order" : "21", "nameCz" : "Belgie", "nameEn" : "Belgium" },
            { "countryCode" : "NL", "order" : "22", "nameCz" : "Nizozemí", "nameEn" : "Netherlands" },
            { "countryCode" : "PT", "order" : "23", "nameCz" : "Portugalsko", "nameEn" : "Portugal" },
            { "countryCode" : "AF", "order" : "24", "nameCz" : "Afghánistán", "nameEn" : "Afghanistan" },
            { "countryCode" : "AL", "order" : "25", "nameCz" : "Albanie", "nameEn" : "Albania" },
            { "countryCode" : "DZ", "order" : "26", "nameCz" : "Alžír", "nameEn" : "Algeria" },
            { "countryCode" : "AD", "order" : "27", "nameCz" : "Andorra", "nameEn" : "Andorra" },
            { "countryCode" : "AO", "order" : "28", "nameCz" : "Angolská republika", "nameEn" : "Angola" },
            { "countryCode" : "AI", "order" : "29", "nameCz" : "Anguilla", "nameEn" : "Anguilla" },
            { "countryCode" : "AQ", "order" : "30", "nameCz" : "Antarktida", "nameEn" : "Antarctica" },
            { "countryCode" : "AG", "order" : "31", "nameCz" : "Antigua a Barbuda", "nameEn" : "Antigua&Barbuda" },
            { "countryCode" : "AR", "order" : "32", "nameCz" : "Argentina", "nameEn" : "Argentina" },
            { "countryCode" : "AM", "order" : "33", "nameCz" : "Armenie", "nameEn" : "Armenia" },
            { "countryCode" : "AW", "order" : "34", "nameCz" : "Aruba", "nameEn" : "Aruba" },
            { "countryCode" : "AU", "order" : "35", "nameCz" : "Australie", "nameEn" : "Australia" },
            { "countryCode" : "AZ", "order" : "36", "nameCz" : "Azerbajdžán", "nameEn" : "Azerbaijan" },
            { "countryCode" : "BS", "order" : "37", "nameCz" : "Bahamy-Ostrovy Nassau", "nameEn" : "Bahamas" },
            { "countryCode" : "BH", "order" : "38", "nameCz" : "Bahrajnský stít", "nameEn" : "Bahrain" },
            { "countryCode" : "BD", "order" : "39", "nameCz" : "Bangladéšská lidová republika", "nameEn" : "Bangladesh" },
            { "countryCode" : "BB", "order" : "40", "nameCz" : "Barbados", "nameEn" : "Barbados" },
            { "countryCode" : "MM", "order" : "41", "nameCz" : "Barmský (Myanmarský) svaz", "nameEn" : "Myanmar" },
            { "countryCode" : "BZ", "order" : "42", "nameCz" : "Belize", "nameEn" : "Belize" },
            { "countryCode" : "BY", "order" : "43", "nameCz" : "Bělorusko", "nameEn" : "Belarus" },
            { "countryCode" : "BJ", "order" : "44", "nameCz" : "Beninská republika", "nameEn" : "Benin" },
            { "countryCode" : "BM", "order" : "45", "nameCz" : "Bermudy", "nameEn" : "Bermuda" },
            { "countryCode" : "BT", "order" : "46", "nameCz" : "Bhutánské království", "nameEn" : "Bhutan" },
            { "countryCode" : "BO", "order" : "47", "nameCz" : "Bolivie", "nameEn" : "Bolivia" },
            { "countryCode" : "BA", "order" : "48", "nameCz" : "Bosna a Hercegovina", "nameEn" : "Bosnia and Herzegovina" },
            { "countryCode" : "BW", "order" : "49", "nameCz" : "Botswanská republika", "nameEn" : "Botswana" },
            { "countryCode" : "BV", "order" : "50", "nameCz" : "Bouvetův ostrov", "nameEn" : "Bouvet Island" },
            { "countryCode" : "BR", "order" : "51", "nameCz" : "Brazilie", "nameEn" : "Brazil" },
            { "countryCode" : "IO", "order" : "52", "nameCz" : "Britská Indie - Oceania", "nameEn" : "British Indian Ocean Territories" },
            { "countryCode" : "VG", "order" : "53", "nameCz" : "Britské Panenské ostrovy", "nameEn" : "British Virgin Islands" },
            { "countryCode" : "BN", "order" : "54", "nameCz" : "Brunej Darussalam", "nameEn" : "Brunej Darussalam" },
            { "countryCode" : "BF", "order" : "55", "nameCz" : "Burkina Faso", "nameEn" : "Burkina Faso" },
            { "countryCode" : "BI", "order" : "56", "nameCz" : "Burundská republika", "nameEn" : "Burundi" },
            { "countryCode" : "CK", "order" : "57", "nameCz" : "Cookovy ostrovy", "nameEn" : "Cook Islands" },
            { "countryCode" : "CR", "order" : "58", "nameCz" : "Costa Rica", "nameEn" : "Costa Rica" },
            { "countryCode" : "TD", "order" : "59", "nameCz" : "Čadská republika", "nameEn" : "Chad" },
            { "countryCode" : "ME", "order" : "60", "nameCz" : "Černá Hora", "nameEn" : "Montenegro" },
            { "countryCode" : "CN", "order" : "61", "nameCz" : "Čína", "nameEn" : "China" },
            { "countryCode" : "ST", "order" : "62", "nameCz" : "Dem.rep. Sv.Tomáše a Princova ostrova", "nameEn" : "Sao Tome and Principe" },
            { "countryCode" : "DM", "order" : "63", "nameCz" : "Dominika", "nameEn" : "Dominica" },
            { "countryCode" : "DO", "order" : "64", "nameCz" : "Dominikánská republika", "nameEn" : "Dominican Republic" },
            { "countryCode" : "DJ", "order" : "65", "nameCz" : "Džibutská republika", "nameEn" : "Djibouti" },
            { "countryCode" : "EG", "order" : "66", "nameCz" : "Egypt", "nameEn" : "Egypt" },
            { "countryCode" : "EC", "order" : "67", "nameCz" : "Equador", "nameEn" : "Ecuador" },
            { "countryCode" : "ER", "order" : "68", "nameCz" : "Eritrea", "nameEn" : "Eritrea" },
            { "countryCode" : "EE", "order" : "69", "nameCz" : "Estonsko", "nameEn" : "Estonia" },
            { "countryCode" : "ET", "order" : "70", "nameCz" : "Etiopie", "nameEn" : "Ethiopia" },
            { "countryCode" : "FO", "order" : "71", "nameCz" : "Faerské ostrovy", "nameEn" : "Faroe Islands" },
            { "countryCode" : "FK", "order" : "72", "nameCz" : "Falklandské ostrovy", "nameEn" : "Falkland Islands" },
            { "countryCode" : "KN", "order" : "73", "nameCz" : "Federace Svatý Kryštof a Nevis", "nameEn" : "Saint Kitts and Nevis" },
            { "countryCode" : "PH", "order" : "74", "nameCz" : "Filipíny", "nameEn" : "Philippines" },
            { "countryCode" : "GF", "order" : "75", "nameCz" : "Francouzská Guyana", "nameEn" : "French Guiana" },
            { "countryCode" : "TF", "order" : "76", "nameCz" : "Francouzská jižní a antarktická území", "nameEn" : "French South Antarctic Territories" },
            { "countryCode" : "GA", "order" : "77", "nameCz" : "Gabonská republika", "nameEn" : "Gabon" },
            { "countryCode" : "GM", "order" : "78", "nameCz" : "Gambijská republika", "nameEn" : "Gambia" },
            { "countryCode" : "GH", "order" : "79", "nameCz" : "Ghanská republika", "nameEn" : "Ghana" },
            { "countryCode" : "GI", "order" : "80", "nameCz" : "Gibraltar", "nameEn" : "Gibraltar" },
            { "countryCode" : "GD", "order" : "81", "nameCz" : "Grenada", "nameEn" : "Grenada" },
            { "countryCode" : "GL", "order" : "82", "nameCz" : "Grónsko", "nameEn" : "Greenland" },
            { "countryCode" : "GE", "order" : "83", "nameCz" : "Gruzínská republika", "nameEn" : "Georgia" },
            { "countryCode" : "GP", "order" : "84", "nameCz" : "Guadeloupe", "nameEn" : "Guadeloupe" },
            { "countryCode" : "GU", "order" : "85", "nameCz" : "Guamské teritorium", "nameEn" : "Guam" },
            { "countryCode" : "GT", "order" : "86", "nameCz" : "Guatemala", "nameEn" : "Guatemala" },
            { "countryCode" : "GG", "order" : "87", "nameCz" : "Guernsey, C.I.", "nameEn" : "Guernsey" },
            { "countryCode" : "GN", "order" : "88", "nameCz" : "Guinejská republika", "nameEn" : "Guinea" },
            { "countryCode" : "GQ", "order" : "89", "nameCz" : "Guinejská rovníková republika", "nameEn" : "Equatorial Guinea" },
            { "countryCode" : "GY", "order" : "90", "nameCz" : "Guyanská kooperativní republika", "nameEn" : "Guyana" },
            { "countryCode" : "HT", "order" : "91", "nameCz" : "Haiti", "nameEn" : "Haiti" },
            { "countryCode" : "AN", "order" : "92", "nameCz" : "Holandské Antily", "nameEn" : "Netherlands Antilles" },
            { "countryCode" : "HN", "order" : "93", "nameCz" : "Honduras", "nameEn" : "Honduras" },
            { "countryCode" : "HK", "order" : "94", "nameCz" : "Hong Kong", "nameEn" : "Hong Kong" },
            { "countryCode" : "CL", "order" : "95", "nameCz" : "Chile", "nameEn" : "Chile" },
            { "countryCode" : "IN", "order" : "96", "nameCz" : "Indie", "nameEn" : "India" },
            { "countryCode" : "ID", "order" : "97", "nameCz" : "Indonesie", "nameEn" : "Indonesia" },
            { "countryCode" : "IQ", "order" : "98", "nameCz" : "Írák", "nameEn" : "Iraq" },
            { "countryCode" : "IR", "order" : "99", "nameCz" : "Írán", "nameEn" : "Iran" },
            { "countryCode" : "IS", "order" : "100", "nameCz" : "Island", "nameEn" : "Iceland" },
            { "countryCode" : "IM", "order" : "101", "nameCz" : "Isle of Man", "nameEn" : "Isle of Man" },
            { "countryCode" : "IL", "order" : "102", "nameCz" : "Izrael", "nameEn" : "Israel" },
            { "countryCode" : "JM", "order" : "103", "nameCz" : "Jamajka", "nameEn" : "Jamaica" },
            { "countryCode" : "JP", "order" : "104", "nameCz" : "Japonsko", "nameEn" : "Japan" },
            { "countryCode" : "YE", "order" : "105", "nameCz" : "Jemenská arabská rebublika", "nameEn" : "Yemen" },
            { "countryCode" : "JE", "order" : "106", "nameCz" : "Jersey, C.I.", "nameEn" : "Jersey" },
            { "countryCode" : "ZA", "order" : "107", "nameCz" : "Jihoafrická republika", "nameEn" : "South Africa" },
            { "countryCode" : "GS", "order" : "108", "nameCz" : "Jižní Georgie a Jižní Sandwichovy ostrovy", "nameEn" : "South Georgia and the South Sandwich Islands" },
            { "countryCode" : "JO", "order" : "109", "nameCz" : "Jordánsko", "nameEn" : "Jordan" },
            { "countryCode" : "KY", "order" : "110", "nameCz" : "Kajmanské ostrovy", "nameEn" : "Cayman Islands" },
            { "countryCode" : "KH", "order" : "111", "nameCz" : "Kambodžské království", "nameEn" : "Cambodia" },
            { "countryCode" : "CM", "order" : "112", "nameCz" : "Kamerunská republika", "nameEn" : "Cameroon" },
            { "countryCode" : "CA", "order" : "113", "nameCz" : "Kanada", "nameEn" : "Canada" },
            { "countryCode" : "CV", "order" : "114", "nameCz" : "Kapverdská republika", "nameEn" : "Cape Verde" },
            { "countryCode" : "QA", "order" : "115", "nameCz" : "Katarský stát", "nameEn" : "Qatar" },
            { "countryCode" : "KZ", "order" : "116", "nameCz" : "Kazachstán", "nameEn" : "Kazakhstan" },
            { "countryCode" : "KE", "order" : "117", "nameCz" : "Keňská republika", "nameEn" : "Kenya" },
            { "countryCode" : "KG", "order" : "118", "nameCz" : "Kirgizská republika", "nameEn" : "Kyrgyzstan" },
            { "countryCode" : "KI", "order" : "119", "nameCz" : "Kiribatská republika", "nameEn" : "Kiribati" },
            { "countryCode" : "CO", "order" : "120", "nameCz" : "Kolumbie", "nameEn" : "Colombia" },
            { "countryCode" : "KM", "order" : "121", "nameCz" : "Komorská federativní islamská republika", "nameEn" : "Comoros" },
            { "countryCode" : "CD", "order" : "122", "nameCz" : "Konžská demokratická republika", "nameEn" : "Democratic Republic of the Congo" },
            { "countryCode" : "CG", "order" : "123", "nameCz" : "Konžská republika", "nameEn" : "Congo" },
            { "countryCode" : "KP", "order" : "124", "nameCz" : "Korejská lidovědemokratická republika", "nameEn" : "Democratic People's Republic of Korea" },
            { "countryCode" : "KR", "order" : "125", "nameCz" : "Korejská republika", "nameEn" : "Republic of Korea" },
            { "countryCode" : "CU", "order" : "126", "nameCz" : "Kuba", "nameEn" : "Cuba" },
            { "countryCode" : "KW", "order" : "127", "nameCz" : "Kuwait", "nameEn" : "Kuwait" },
[...]
