FORMAT: 1A
HOST: https://www.csast.csas.cz/webapi/api/v1

# DEV SelfService CDM 

The Web-API is unified project that allow client's access to the 
internal systems in the Bank thought RESTfull API.

## Basics
WEB-API is based on REST principles, all you need to use it is your browser or any 
other http client. You have to be authenticated and call the simple HTTPs request 
on the URL specified below. The following documentation covers core resources 
that are used to manipulate with the main entities. 

First of all, read basic instructions to start using the API.

<code>Access to the server is allowed anonymously or with _API key_ passed in HTTP header</code>

Allowed HTTPs requests:
-----------------------
    POST   :   To create or update resource 
    PUT    :   Update existing resource
    GET    :   Get a resource or list of resources
    DELETE :   To delete resource

Description Of Usual Server Responses
-------------------------------------
* 200 <code>OK</code> - the request was successful (some API calls may return 201 instead).
* 201 <code>Created</code> - the request was successful and a resource was created.
* 204 <code>No Content</code> - the request was successful but there is no representation to return (i.e. the response is empty).
* 400 <code>Bad Request</code> - the request could not be understood or was missing required parameters.
* 401 <code>Unauthorized</code> - authentication failed or user doesn't have permissions for requested operation.
* 403 <code>Forbidden</code> - access denied.
* 404 <code>Not Found</code> - resource was not found.
* 405 <code>Method Not Allowed</code> - requested method is not supported for resource.

# Security
When calling an API that does not access private user data, you can use a simple API key. 
This key is used to authenticate your application for statistical purposes.

## API Key

**An API key** is a unique key that you can generate using the _WebAPI Console_. When your 
application needs to call an API that's enabled in this project, the application passes 
this key into all API requests in the HTTP header as a <code>WEB-API-key=_API_key parameter_</code>. 
Use of this key does not require any user action or consent, does not grant access to 
any account information, and is not used for authorization.

## Signature

API key signature is optional additional level of security for your API key. Use of signature can be activated in WebAPI console.
Signed request can't be forged, modified or resend. 
Signature consists of two additional HTTP headers ``signature`` and ``nonce``.

``signature`` is generated using private cryptographic key, that can be obtained in WebAPI console

``nonce`` have to be unique for every request, and it ensures that request can't be reused

### Signing algorithm

1. generate unique ```nonce```
1. strip server name from requestUrl
1. construct request to be signed using ```apiKey + nonce + requestUrl + requestData``` 
1. sign request using _HMAC-SHA1_ algorithm with key
1. encode your signature using _Base64_ 
1. add signature and nonce to the request headers

### Signature example
Example implementation using JavaScript:
<a class="jsbin-embed" href="http://jsbin.com/ofIjAXUC/12/edit?js,console">JS Bin</a>
<script src="http://static.jsbin.com/js/embed.js"></script>


## OAuth 2.0

Google APIs use the OAuth 2.0 protocol for authentication and authorization. 
Google supports common OAuth 2.0 scenarios such as those for web server, installed, and client-side applications.

**OAuth 2.0** is a relatively simple protocol. To begin, you register your application 
within WebAPI. Then your client application requests an access token from the 
WebAPI Authorization Server, extracts a token from the response, and sends the 
token to the WebAPI that you want to access.

In order to use _OAuth 2.0_ in your application, you must first generate an 
<code>OAuth 2.0 client ID</code> by specifying some information for your project. Your 
application uses this client ID when requesting an OAuth 2.0 access token. WebAPI uses the 
branding information to render the consent page that requests authorization 
from users. You can generate, edit, or revoke OAuth 2.0 client IDs and branding 
information using the _WebAPI Console_.

When you create a client ID, you must specify the type of application the client ID 
is for. You can currently choose between a Web application and an Installed application
(such as smart-phone application), or you can choose to create a client ID for a 
Service account. Each Console project supports up to five OAuth 2.0 client IDs at 
any one time, so, your project can define an application with multiple 
components. We strongly recommend not sharing OAuth 2.0 client IDs between projects. 
For more information about how to implement _OAuth 2.0_ in your application, see OAuth 2.0 
documentation.

    Note: You must use either an OAuth 2.0 access token, an API key or anonymous access 
    for all your applications. 

    Not all APIs require authorized calls. See this API documentation to learn whether 
    authorization is required for specific calls.

# Front-end vs. back-end reusability
Because services will look very much the same for SelfServis front-end and SelfServis back-end we will reuse their definition. There will be one general and important difference - we will use CLUID instead of Authorization hash in headers.

Request header on Self Service back-end should look like this:

    WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
    CLUID: vF9dft4qmT

There should be no differencies in service attributes or JSON definitions between those two layers.

# Formats

## Date and time
All date and time atributes in JSON are in ISO 8601 format. i.e. 1997-07-16T19:20:30+01:00

## Phone numbers
All phone numbers are in format +xxxxxxxxxxxx. i.e. +420666555444

## Account numbers
Whole account number is split to multiple fields 

    "accountPrefix": "0"
    "accountNumber": "379554193"
    "bankCode": "0800"

## IBAN

IBAN field format looks like this: "CZ5508000000000379554193"

## Addresses
Address is defined by multiple fields in JSON

    "street": "Polská"
    "houseNumber": "22"
    "orientationNumber": "3C"
    "city": "Jaroměř"
    "district": "Staré město"
    "zip": 79000
    "countryCode": "CZ"

## Address type
We have three types of address at this very moment.

    BASIC
    ADDITION
    DIFF_ADDRESSEE
    
## Pruduct view type
We have seven types of product view at this very moment.

    GENERAL
    EIGER
    STARBANK
    PWC
    DON
    SPZ
    S24

## Identity document type
Possible values for identity document type are following:

    ID_CARD
    PASSPORT
    DRIVING_LICENCE
    
However only <code>ID_CARD</code> is valid for v1 API

## IDs and code tables
All JSON attributes named with <code>id</code> are internal ids generated by BL SS.

All JSON attribures named with <code>code</code> are values from code table, which is localy accessed to FE SS



---

# Group Client
APIs for work with 'Client's

## Get client detail [/client]
Secured service to get client detail on SS BL

### Return desired client detail [GET]
Returns detail of authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        {
            "firstName": "Jana",
            "lastName": "Princeznová",
            "birthName" : "",
            "titleBefore": "Ing.",
            "titleAfter": "Ph.D.",
            "personalNumber": "7807054421",
            "birthDate": "1987-07-05",
            "birthPlace": "Praha",
            "birthCountryCode": "CZ",
            "gender": "MALE",
            "citizenshipCountryCode": "CZ",
            "taxResidentCountryCode": "CZ",
            "identityDocument": 
                {
                    "type": "ID_CARD",
                    "number": "12164246",
                    "issueDate": "2011-01-20",
                    "expireDate": "2019-01-20",
                    "issuer": "MěÚ Jaroměř",
                    "issueCountryCode" : "CZ"
                },
            "contacts" : 
                {
                "residentAddress":
                    {
                    "id" : 528064244,
                    "addressType" : "BASIC", 
                    "street": "Polská",
                    "houseNumber": "22",
                    "orientationNumber": "3C",
                    "city": "Jaroměř",
                    "district": "Staré město",
                    "zip": 79000,
                    "countryCode": "CZ"
                    },
                "contactAddress":
                    {
                    "id" : 52754243,
                    "addressType" : "BASIC", 
                    "street": "Finská",
                    "houseNumber": "145",
                    "orientationNumber": "387",
                    "city": "Litvínov",
                    "district": "Staré město",
                    "zip": 89000,
                    "countryCode": "CZ"
                    },
                "primaryPhone": 
                    {
                        "id" : 12345235,
                        "number" : "+420666123456"
                    },
                "secondaryPhone": 
                    {
                        "id" : 745879987,
                        "number": "+420666654321"
                    },
                "primaryEmail": 
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml"
                    },
                "secondaryEmail" :
                    {
                        "id" : 87654532,
                        "email": "another@email.eml"
                    }
            }
        }

+ Response 401 (application/json)

### Save client's detail [POST]
Saves detail of client to application.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

	+ Body

        {
            "firstName": "Jana",
            "lastName": "Princeznová",
            "birthName" : "",
            "titleBefore": "Ing.",
            "titleAfter": "Ph.D.",
            "personalNumber": "7807054421",
            "birthDate": "1987-07-05",
            "birthPlace": "Praha",
            "birthCountryCode": "CZ",
            "citizenshipCountryCode": "CZ",
            "taxResidentCountryCode": "CZ",
            "identityDocument": 
                {
                    "type": "ID_CARD",
                    "number": "12164246",
                    "issueDate": "2011-01-20",
                    "expireDate": "2019-01-20",
                    "issuer": "MěÚ Jaroměř",
                    "issueCountryCode" : "CZ"
                },
            "contacts" : 
                {
                "residentAddress":
                    {
                    "id" : 528064244,
                    "addressType" : "BASIC", 
                    "street": "Polská",
                    "houseNumber": "22",
                    "orientationNumber": "3C",
                    "city": "Jaroměř",
                    "district": "Staré město",
                    "zip": 79000,
                    "countryCode": "CZ"
                    },
                "contactAddress":
                    {
                    "id" : 52754243,
                    "addressType" : "BASIC", 
                    "street": "Finská",
                    "houseNumber": "145",
                    "orientationNumber": "387",
                    "city": "Litvínov",
                    "district": "Staré město",
                    "zip": 89000,
                    "countryCode": "CZ"
                    },
                "primaryPhone": 
                    {
                        "id" : 12345235,
                        "number" : "+420666123456"
                    },
                "secondaryPhone": 
                    {
                        "id" : 745879987,
                        "number": "+420666654321"
                    },
                "primaryEmail": 
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml"
                    },
                "secondaryEmail" :
                    {
                        "id" : 87654532,
                        "email": "another@email.eml"
                    }
            }
        }

+ Response 201 (application/json)

+ Response 401 (application/json)

# Group Addresses
APIs for work with addresses

## Get client addresses [/addresses]
Secured service used to obtain client addresses registered in CRM. 

### Return adresses of client [GET]
Returns list of all addresses stored in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 528064244,
                "addressType" : "BASIC", 
                "street": "Polská",
                "houseNumber": "22",
                "orientationNumber": "3C",
                "city": "Jaroměř",
                "district": "Staré město",
                "zip": 79000,
                "countryCode": "CZ"
            },
            {
                "id" : 52754243,
                "addressType" : "ADDITION",
                "street": "Finská",
                "houseNumber": "145",
                "orientationNumber": "387",
                "city": "Litvínov",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "CZ",
                "addition" : "Doplněk adresy"
            },
            {
                "id" : 52754242,
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Krymská",
                "houseNumber": "793",
                "orientationNumber": "56",
                "city": "Moskva",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "RU",
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák"
            }
        ]
        
+ Response 401 (application/json)

### Create new address [POST]
Creates new address in CRM.

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| addressType | string | Type of address | required |
| street | string | Name of street | required |
| houseNumber | string | House number | required |
| orientationNumber | string | Orientation number | _optional_ |
| city | string | Name of city | required |
| district | string | Name of city part | _optional_ |
| zip | number | Also known as PSČ in Czech Republic | required |
| countryCode | string | Country code from code table | required |
| addition | string | Additional information, like floor number | _optional_ |
| differentAddressee | string | Field to specify different addressee than client | _optional_ 

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body
    
            {
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Ugrofinská",
                "houseNumber": "456",
                "orientationNumber": "71A",
                "city": "České Budějovice",
                "district": "Nové město",
                "zip": 39000,
                "countryCode": "CZ"
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák"
            }

+ Response 201 (application/json)
    + Body

            {
                "id" : 987654321
            }
    
+ Response 401 (application/json)

## Get client addresses [/addresses/basic]
Secured service used to obtain client addresses registered in CRM. 

### Return basic adresses of client [GET]
Returns list of all addresses of type <code>basic</code> stored in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 528064244,
                "addressType" : "BASIC",
                "street": "Polská",
                "houseNumber": "22",
                "orientationNumber": "3C",
                "city": "Jaroměř",
                "district": "Staré město",
                "zip": 79000,
                "countryCode": "CZ"
            }
        ]
        
+ Response 401 (application/json)

## Get client addresses [/addresses/withAddition]
Secured service used to obtain client addresses registered in CRM. 

### Return adresses of client with addition [GET]
Returns list of all addresses of type <code>withAddition</code> stored  in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 52754243,
                "addressType" : "ADDITION",
                "street": "Finská",
                "houseNumber": "145",
                "orientationNumber": "387",
                "city": "Litvínov",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "CZ",
                "addition" : "Doplněk adresy"
            }
        ]
        
+ Response 401 (application/json)

## Get client addresses [/addresses/withDiffAddressee]
Secured service used to obtain client addresses registered in CRM. 

### Return adresses of client [GET]
Returns list of all addresses of type <code>withDiffAddressee</code> stored in CRM for authenticated client.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 52754242,
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Krymská",
                "houseNumber": "793",
                "orientationNumber": "56",
                "city": "Moskva",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "RU",
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák"
            }
        ]
        
+ Response 401 (application/json)

## Force Address [/addresses/force]
Service for forcing to store addresse despite its failed validation against RUIAN.

### Force address [POST]
Forces storing of address

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| addressType | string | Type of address | required |
| street | string | Name of street | required |
| houseNumber | string | Street number | required |
| orientationNumber | string | Orientation number | _optional_ |
| city | string | Name of city | required |
| district | string | Name of city part | _optional_ |
| zip | number | Also known as PSČ in Czech Republic | required |
| countryCode | string | Country code from code table | required |
| addition | string | Additional information, like floor number | _optional_ |
| differentAddressee | string | Field to specify different addressee than client | _optional_ 

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body
    
            {
                "id" : 52754242,
                "addressType" : "DIFF_ADDRESSEE",
                "street": "Krymská",
                "houseNumber": "793",
                "orientationNumber": "56",
                "city": "Moskva",
                "district": "Staré město",
                "zip": 89000,
                "countryCode": "RU",
                "addition" : "Doplněk adresy",
                "differentAddressee" : "Pavel Novák"
            }

+ Response 200 (application/json)
    + Body

            {
                "addressResult" : "OK"
            }
    
+ Response 401 (application/json)

# Group Phones
APIs for work with phone numbers

## Phones [/phones]
Work with collection of clients phone numbers

### Return all phones [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

        [
            {
                "id" : 12345235,
                "number" : "+420666123456"
            },
            {
                "id" : 745879987,
                "number": "+420666654321"
            },
            {
                "id" : 987656782,
                "number": "+420666656543"
            },
            {
                "id" : 987656783,
                "number": "+420666656542"
            },
            {
                "id" : 987656784,
                "number": "+420666626543"
            }
        ]
+ Response 401 (application/json)

### Add new phone [POST]

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| phoneNumber | string | Client's phone number | required |

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            {
                "phoneNumber": "+420666654300"
            }

+ Response 201 (application/json)

        {    
        "id": 745879988
        }

+ Response 401 (application/json)

# Group Emails
APIs for work with clients emails

## Emails [/emails]
Work with collection of clients emails

### Get all emails [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

        [
            {
                "id" : 2345678,
                "email": "some@email.eml"
            },
            {
                "id" : 87654532,
                "email": "another@email.eml"
            },
            { 
                "id" : 78355820,
                "email": "yet.another@email.eml"
            }
        ]
        
+ Response 401 (application/json)

### Add new email address [POST]

| attribute | type | description | required / optional |
| ------ | ------ | ------ | ------ |
| email | string | Client's email | required |

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            {
                "email": "new@email.eml"
            }

+ Response 201 (application/json)

        {    
            "id": "87654533"
        }

+ Response 401 (application/json)

# Group Products
APIs for work with clients products

## Products [/products]
Work with collection of products

### Get products list [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

            [
                { "productId" : 1929390, "businessName" : "Běžný produkt", "additionalHeader" : "1234-9876543210/0800", "viewType" : "GENERAL" },
                { "productId" : 1929391, "businessName" : "Investiční produkt", "additionalHeader" : "1234-9876543210/0800", "viewType" : "DON" },
                { "productId" : 1929392, "businessName" : "Karta", "additionalHeader" : "5380 34** **** 1453", "viewType" : "EIGER" },
                { "productId" : 1929393, "businessName" : "Internet Banking", "additionalHeader" : "", "viewType" : "S24" },
                { "productId" : 1929394, "businessName" : "Účet", "additionalHeader" : "1234-9876543210/0800", "viewType" : "SPZ" },
                { "productId" : 1929395, "businessName" : "Účet", "additionalHeader" : "1234-9876543210/0800", "viewType" : "STARBANK" },
                { "productId" : 1929396, "businessName" : "Karta", "additionalHeader" : "5380 34** **** 1453", "viewType" : "PWC" }
            ]

+ Response 401 (application/json)

## Product [/products/{productId}]
Work with single product. 

### Get product detail [GET]
+ Parameters

    + productId (required, number, `1234654`) ... ID of requested `product.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            { 
                "productId" : 1929390,
                "viewType" : "GENERAL",
                "relation" : "Vlastník",
                "contactAddress" :
                    {
                        "id" : 528064244,
                        "addressType" : "BASIC",
                        "street": "Polská",
                        "houseNumber": "22",
                        "orientationNumber": "3C",
                        "city": "Jaroměř",
                        "district": "Staré město",
                        "zip": 79000,
                        "countryCode": "CZ"
                    }
            }

### Save product detail [POST]
+ Request
	+ Headers
		
			WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

	+ Body

			{ 
                "productId" : 1929391,
                "accountBalanceEmails" :
                    [
                        { "id" : 2345678, "email" : "some@email.eml" },
                        { "id" : 87654532, "email": "another@email.eml" }
                    ],
                "accountBalanceSmsNumbers" :
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" }
                    ],
                "dealsOverviewAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "dealsOverviewEmail" :
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml" 
                    },
                "portfolioOverviewAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "portfolioOverviewEmail" : 
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml" 
                    },
                "statementSerieAddress" : 
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "statementSerieEmail" :
                    {
                        "id" : 2345678,
                        "email" : "some@email.eml"
                    }
            }

+ Response 201 (application/json)

+ Response 401 (application/json)

## Product [/products/1929391]
Fake service for exemple of product with viewType <code>don</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            { 
                "productId" : 1929391,
                "viewType" : "DON",
                "relation" : "Vlastník",
                "accountBalanceEmails" :
                    [
                        { "id" : 2345678, "email" : "some@email.eml" },
                        { "id" : 87654532, "email": "another@email.eml" }
                    ],
                "accountBalanceSmsNumbers" :
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" }
                    ],
                "dealsOverviewAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "dealsOverviewEmail" :
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml" 
                    },
                "portfolioOverviewAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "portfolioOverviewEmail" : 
                    { 
                        "id" : 2345678,
                        "email" : "some@email.eml" 
                    },
                "statementSerieAddress" : 
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "statementSerieEmail" :
                    {
                        "id" : 2345678,
                        "email" : "some@email.eml"
                    }
            }

+ Response 401 (application/json)

## Product [/products/1929392]
Fake service for exemple of product with viewType <code>eiger</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929392,
                "viewType" : "EIGER",
                "relation" : "Vlastník",
                "secure3dPhoneNumber" : "+420 666 777 888",
                "pinRecoveryAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    }
            }

+ Response 401 (application/json)

## Product [/products/1929393]
Fake service for exemple of product with viewType <code>s24</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929393,
                "viewType" : "S24",
                "relation" : "Vlastník",
                "loginAuthorizationNumber" :
                    {
                        "id" : 745879987,
                        "number": "+420666654321"
                    },
                "contactAddress" :
                    {
                        "id" : 528064244,
                        "addressType" : "BASIC",
                        "street": "Polská",
                        "houseNumber": "22",
                        "orientationNumber": "3C",
                        "city": "Jaroměř",
                        "district": "Staré město",
                        "zip": 79000,
                        "countryCode": "CZ"
                    },
                "eInvoiceEmails" : 
                    [
                        { "id" : 2345678, "email" : "some@email.eml" },
                        { "id" : 87654532, "email": "another@email.eml" },
                        { "id" : 78355820, "email": "yet.another@email.eml" }
                    ],
                "eInvoicePhoneNumbers" : 
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" }
                    ]
            }

+ Response 401 (application/json)

## Product [/products/1929394]
Fake service for exemple of product with viewType <code>spz</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929394,
                "viewType" : "SPZ",
                "relation" : "Vlastník",
                "accountBalanceEmails" : 
                    [
                        { "id" : 2345678, "email" : "some@email.eml" },
                        { "id" : 87654532, "email": "another@email.eml" }
                    ],
                "accountBalanceSmsNumber" : { "id" : 12345235, "number" : "+420666123456" },
                "adviceEmails" : 
                    [
                        { "id" : 2345678, "email" : "some@email.eml" },
                        { "id" : 87654532, "email": "another@email.eml" }
                    ],
                "cardOperationSmsNumbers" : 
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" },
                        { "id" : 987656783, "number": "+420666656542" },
                        { "id" : 987656784, "number": "+420666626543" }
                    ],
                "failedDirectDebitSmsNumber" : 
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" },
                        { "id" : 987656783, "number": "+420666656542" },
                        { "id" : 987656784, "number": "+420666626543" }
                    ],
                "kontokorentMaturitySmsNumber" :
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" },
                        { "id" : 987656783, "number": "+420666656542" },
                        { "id" : 987656784, "number": "+420666626543" }
                    ],
                "failedReccuringPaymentSmsNumber" :
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" },
                        { "id" : 987656783, "number": "+420666656542" },
                        { "id" : 987656784, "number": "+420666626543" }
                    ],
                "failedSinglePaymentSmsNumber" :
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" },
                        { "id" : 987656783, "number": "+420666656542" },
                        { "id" : 987656784, "number": "+420666626543" }
                    ],
                "serieAStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieBStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieCStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    }
            }

+ Response 401 (application/json)

## Product [/products/1929395]
Fake service for exemple of product with viewType <code>starBank</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929395,
                "viewType" : "STARBANK",
                "relation" : "Vlastník",
                "notificationAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "correspondenceAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieAStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieBStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieCStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieDStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieEStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieFStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieGStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieHStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    },
                "serieIStatementAddress" :
                    {
                        "id" : 52754242,
                        "addressType" : "DIFF_ADDRESSEE",
                        "street": "Krymská",
                        "houseNumber": "793",
                        "orientationNumber": "56",
                        "city": "Moskva",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "RU",
                        "addition" : "Doplněk adresy",
                        "differentAddressee" : "Pavel Novák"
                    }
            }

+ Response 401 (application/json)

## Product [/products/1929396]
Fake service for exemple of product with viewType <code>pwc</code>.

### Get product detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs
    
+ Response 200 (application/json)

            {
                "productId" : 1929396,
                "viewType" : "PWC",
                "relation" : "Vlastník",
                "cardPinDeliveryAddress" : 
                    {
                        "id" : 52754243,
                        "addressType" : "ADDITION",
                        "street": "Finská",
                        "houseNumber": "145",
                        "orientationNumber": "387",
                        "city": "Litvínov",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "CZ",
                        "addition" : "Doplněk adresy"
                    }
            }

+ Response 401 (application/json)

# Group Attachments
APIs for work with attachments

## Upload Attachments [/attachments]
Upload ID Card attachment

### Upload Image [POST]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Content-Type: image/jpeg

    + Body

            ......JFIF.............0Photo: Osvaldo Gago
            http://www.fotografar.net....Photoshop 3.0.8BIM.......x............beach.....Algarve.....Faro..n..Osvaldo Gago..t.*Creative Commons Atribuition + Share Alike..z..Osvaldo Gago.8BIM........fotografar.net..1.Exif..II*................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................h..............................."...........................$...........,...........d....... ...l............................... .................).............
            ..."...........\...................................... .......... .C................... 
            
            ...................."...........D.....f...*...........................*.....(............................................... 
            .. 
            ....'.................................................IMG:PowerShot G5 JPEG...........Firmware Version 1.00...................................
            .........D...%.................@...........

+ Response 201 (application/json)

            {
            "id": "090383"
            }

+ Response 401 (application/json)

## Attachments [/attachments/{id}]
Work with single attachment

### Delete Attachment [DELETE]
+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 204 (application/json) 

### Get Attachment [GET]
+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 200 (image/jpeg)

            -----BOUNDARY
            Content-Type: image/jpeg
            Content-Length: 1573
            
            ......JFIF.............0Photo: Osvaldo Gago
            http://www.fotografar.net....Photoshop 3.0.8BIM.......x............beach.....Algarve.....Faro..n..Osvaldo Gago..t.*Creative Commons Atribuition + Share Alike..z..Osvaldo Gago.8BIM........fotografar.net..1.Exif..II*................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................h..............................."...........................$...........,...........d....... ...l............................... .................).............
            ..."...........\...................................... .......... .C................... 
            
            ...................."...........D.....f...*...........................*.....(............................................... 
            .. 
            ....'.................................................IMG:PowerShot G5 JPEG...........Firmware Version 1.00...................................
            .........D...%.................@...........
            -----BOUNDARY

# Group Applications
APIs to store and load applications

## Application initialize [/application/init]
Initilizes application and returns it's state
Possible values of applicationState are <code>DATA_ENTRY</code>, <code>CREATED</code>, <code>AUTHORIZED</code>, <code>CANCELED</code>, <code>DENIED</code>, <code>UNFINISHED</code>, <code>FINISHED</code>, <code>SAVED</code>

### Get application state [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 201 (application/json)

            {
                "applicationState": "AUTHORIZED"
            }

+ Response 401 (application/json)

## Authorize application [/application/authorize]
Signs application for authenticated user. Application should be in <code>AUTHORIZED</code> state
Signs application - after calling this method application should be in <code>AUTHORIZED</code> state.

### Authorize application [POST]
Authorize application.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            {
                "timestamp" : "1997-07-16",
                "authorizationCode" : "oSDj-5iSh-89JJ-U289"
            }

+ Response 200 (application/json)

+ Response 401 (application/json)

### Get authorization summary [GET]
Returns summary of changes in application for review before authorization itself

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

+ Response 200 (application/json)

            {
              "applicationSummary" : 
              [
                  {
                      "section" :
                      {
                          "sectionName" : "Klient",
                          "labelsAndValues" : 
                          [
                              { "label" : "Jméno a příjmení", "value" : "Tomáš Spořitelní" },
                              { "label" : "Rodné číslo", "value" : "7853154452" },
                              { "label" : "IČO", "value" : "9999999990" }
                          ]
                      }
                  },
                  {
                      "section" :
                      {
                          "sectionName" : "Kontaktní adresa",
                          "labelsAndValues" : 
                          [
                              { "label" : "Ulice", "value" : "Pod Javorem" },
                              { "label" : "Číslo popisné", "value" : "15" },
                              { "label" : "Město", "value" : "Brno" },
                              { "label" : "PSČ", "value" : "62100" },
                              { "label" : "Země", "value" : "CZ" }
                          ]
                      }
                  },
                  {
                      "section" :
                      {
                          "sectionName" : "Další kontaktní údaje",
                          "labelsAndValues" : 
                          [
                              { "label" : "Kontaktní adresa", "value" : "Boženy Němcové 1231/25, 140 00, Praha 4" },
                              { "label" : "Telefonní číslo", "value" : "+420 956 777 956" },
                              { "label" : "Telefonní číslo 2", "value" : "420 956 777 957" },
                              { "label" : "E-mailová adresa", "value" : "tsporitelni@gmail.com" }
                          ]
                      }
                  },
                  {
                      "section" :
                      {
                          "sectionName" : "Běžný produkt - 1234-9876543210/0800",
                          "labelsAndValues" : 
                          [
                              { "label" : "Kontaktní adresa", "value" : "Horova 1115/8, 400 01, Liberec" }
                          ]
                      }
                  },
                  {
                      "section" :
                      {
                          "sectionName" : "Účet - 1234-9876543210/0800",
                          "labelsAndValues" : 
                          [
                              { "label" : "Adresa pro výpis A", "value" : "Horova 1115/8, 400 01, Liberec" },
                              { "label" : "Informační SMS pro neprovedené inkaso 2", "value" : "+420 602 345 678" },
                              { "label" : "Emailová adresa pro změnu zůstatku na účtu 3", "value" : "tomas.sporitelni@seznam.cz" }
                          ]
                      }
                  }
              ]
            }

## Save Application [/application/save]
Save application for later.

### Save application [POST]
Saves application for later. After succesfull call application should be in <code>SAVED</code> state.

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT
            Lang: cs

    + Body

            { 
            "application" :
                {
                    "client" :
                    {
                        "firstName": "Jana",
                        "lastName": "Princeznová",
                        "birthName" : "",
                        "titleBefore": "Ing.",
                        "titleAfter": "Ph.D.",
                        "personalNumber": "7807054421",
                        "birthDate": "1987-07-05",
                        "birthPlace": "Praha",
                        "birthCountryCode": "CZ",
                        "gender": "MALE",
                        "citizenshipCountryCode": "CZ",
                        "taxResidentCountryCode": "CZ",
                        "identityDocument": 
                            {
                                "type": "ID_CARD",
                                "number": "12164246",
                                "issueDate": "2011-01-20",
                                "expireDate": "2019-01-20",
                                "issuer": "MěÚ Jaroměř",
                                "issueCountryCode" : "CZ"
                            },
                        "contacts" : 
                            {
                            "residentAddress":
                                {
                                "id" : 528064244,
                                "addressType" : "BASIC",
                                "street": "Polská",
                                "houseNumber": "22",
                                "orientationNumber": "3C",
                                "city": "Jaroměř",
                                "district": "Staré město",
                                "zip": 79000,
                                "countryCode": "CZ"
                                },
                            "contactAddress":
                                {
                                "id" : 52754243,
                                "addressType" : "BASIC",
                                "street": "Finská",
                                "houseNumber": "145",
                                "orientationNumber": "387",
                                "city": "Litvínov",
                                "district": "Staré město",
                                "zip": 89000,
                                "countryCode": "CZ"
                                },
                            "primaryPhone": 
                                {
                                    "id" : 12345235,
                                    "number" : "+420666123456"
                                },
                            "secondaryPhone": 
                                {
                                    "id" : 745879987,
                                    "number": "+420666654321"
                                },
                            "primaryEmail": 
                                { 
                                    "id" : 2345678,
                                    "email" : "some@email.eml"
                                },
                            "secondaryEmail" :
                                {
                                    "id" : 87654532,
                                    "email": "another@email.eml"
                                }
                            }
                    },
                    "addresses" :
                    [
                        {
                            "id" : 528064244,
                            "addressType" : "BASIC",
                            "street": "Polská",
                            "houseNumber": "22",
                            "orientationNumber": "3C",
                            "city": "Jaroměř",
                            "district": "Staré město",
                            "zip": 79000,
                            "countryCode": "CZ"
                        },
                        {
                            "id" : 52754243,
                            "addressType" : "ADDITION",
                            "street": "Finská",
                            "houseNumber": "145",
                            "orientationNumber": "387",
                            "city": "Litvínov",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "CZ",
                            "addition" : "Doplněk adresy"
                        },
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák"
                        }
                    ],
                    "phones" :
                    [
                        { "id" : 12345235, "number" : "+420666123456" },
                        { "id" : 745879987, "number": "+420666654321" },
                        { "id" : 987656782, "number": "+420666656543" },
                        { "id" : 987656783, "number": "+420666656542" },
                        { "id" : 987656784, "number": "+420666626543" }
                    ],
                    "emails" :
                    [
                        { "id" : 2345678, "email": "some@email.eml" },
                        { "id" : 87654532, "email": "another@email.eml" },
                        { "id" : 78355820, "email": "yet.another@email.eml" }
                    ],
                    "products" :
                    [
                        { 
                            "productId" : 1929390,
                            "contactAddress" :
                                {
                                    "id" : 528064244,
                                    "addressType" : "BASIC",
                                    "street": "Polská",
                                    "houseNumber": "22",
                                    "orientationNumber": "3C",
                                    "city": "Jaroměř",
                                    "district": "Staré město",
                                    "zip": 79000,
                                    "countryCode": "CZ"
                                }
                        },
                        { 
                            "productId" : 1929391,
                            "accountBalanceEmails" :
                                [
                                    { "id" : 2345678, "email" : "some@email.eml" },
                                    { "id" : 87654532, "email": "another@email.eml" }
                                ],
                            "accountBalanceSmsNumbers" :
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" }
                                ],
                            "dealsOverviewAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "dealsOverviewEmail" :
                                { 
                                    "id" : 2345678,
                                    "email" : "some@email.eml" 
                                },
                            "portfolioOverviewAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "portfolioOverviewEmail" : 
                                { 
                                    "id" : 2345678,
                                    "email" : "some@email.eml" 
                                },
                            "statementSerieAddress" : 
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "statementSerieEmail" :
                                {
                                    "id" : 2345678,
                                    "email" : "some@email.eml"
                                }
                        },
                        {
                            "productId" : 1929392,
                            "pinRecoveryAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                }
                        },
                        {
                            "productId" : 1929393,
                            "contactAddress" :
                                {
                                    "id" : 528064244,
                                    "addressType" : "BASIC",
                                    "street": "Polská",
                                    "houseNumber": "22",
                                    "orientationNumber": "3C",
                                    "city": "Jaroměř",
                                    "district": "Staré město",
                                    "zip": 79000,
                                    "countryCode": "CZ"
                                },
                            "eInvoiceEmails" : 
                                [
                                    { "id" : 2345678, "email" : "some@email.eml" },
                                    { "id" : 87654532, "email": "another@email.eml" },
                                    { "id" : 78355820, "email": "yet.another@email.eml" }
                                ],
                            "eInvoicePhoneNumbers" : 
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" },
                                    { "id" : 987656782, "number": "+420666656543" }
                                ]
                        },
                        {
                            "productId" : 1929394,
                            "accountBalanceEmails" : 
                                [
                                    { "id" : 2345678, "email" : "some@email.eml" },
                                    { "id" : 87654532, "email": "another@email.eml" }
                                ],
                            "accountBalanceSmsNumber" : { "id" : 12345235, "number" : "+420666123456" },
                            "adviceEmails" : 
                                [
                                    { "id" : 2345678, "email" : "some@email.eml" },
                                    { "id" : 87654532, "email": "another@email.eml" }
                                ],
                            "cardOperationSmsNumbers" : 
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" },
                                    { "id" : 987656782, "number": "+420666656543" },
                                    { "id" : 987656783, "number": "+420666656542" },
                                    { "id" : 987656784, "number": "+420666626543" }
                                ],
                            "failedDirectDebitSmsNumber" : 
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" },
                                    { "id" : 987656782, "number": "+420666656543" },
                                    { "id" : 987656783, "number": "+420666656542" },
                                    { "id" : 987656784, "number": "+420666626543" }
                                ],
                            "kontokorentMaturitySmsNumber" :
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" },
                                    { "id" : 987656782, "number": "+420666656543" },
                                    { "id" : 987656783, "number": "+420666656542" },
                                    { "id" : 987656784, "number": "+420666626543" }
                                ],
                            "failedReccuringPaymentSmsNumber" :
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" },
                                    { "id" : 987656782, "number": "+420666656543" },
                                    { "id" : 987656783, "number": "+420666656542" },
                                    { "id" : 987656784, "number": "+420666626543" }
                                ],
                            "failedSinglePaymentSmsNumber" :
                                [
                                    { "id" : 12345235, "number" : "+420666123456" },
                                    { "id" : 745879987, "number": "+420666654321" },
                                    { "id" : 987656782, "number": "+420666656543" },
                                    { "id" : 987656783, "number": "+420666656542" },
                                    { "id" : 987656784, "number": "+420666626543" }
                                ],
                            "serieAStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieBStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieCStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                }
                        },
                        {
                            "productId" : 1929395,
                            "notificationAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "correspondenceAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieAStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieBStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieCStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieDStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieEStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieFStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieGStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieHStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                },
                            "serieIStatementAddress" :
                                {
                                    "id" : 52754242,
                                    "addressType" : "DIFF_ADDRESSEE",
                                    "street": "Krymská",
                                    "houseNumber": "793",
                                    "orientationNumber": "56",
                                    "city": "Moskva",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "RU",
                                    "addition" : "Doplněk adresy",
                                    "differentAddressee" : "Pavel Novák"
                                }
                        },
                        {
                            "productId" : 1929396,
                            "cardPinDeliveryAddress" : 
                                {
                                    "id" : 52754243,
                                    "addressType" : "ADDITION",
                                    "street": "Finská",
                                    "houseNumber": "145",
                                    "orientationNumber": "387",
                                    "city": "Litvínov",
                                    "district": "Staré město",
                                    "zip": 89000,
                                    "countryCode": "CZ",
                                    "addition" : "Doplněk adresy"
                                }
                        }
                    ]
                }
            }

+ Response 201 (application/json)

+ Response 401 (application/json)

## Application detail [/application]
Operations with applications

### Get application detail [GET]

+ Request
    + Headers

            WEB-API-key: 3b569c12-6519-4ce3-a112-559218fe5051
            Authorization: Bearer vF9dft4qmT

+ Response 200 (application/json)

        {
            "client" :
            {
                "firstName": "Jana",
                "lastName": "Princeznová",
                "birthName" : "",
                "titleBefore": "Ing.",
                "titleAfter": "Ph.D.",
                "personalNumber": "7807054421",
                "birthDate": "1987-07-05",
                "birthPlace": "Praha",
                "birthCountryCode": "CZ",
                "gender": "MALE",
                "citizenshipCountryCode": "CZ",
                "taxResidentCountryCode": "CZ",
                "identityDocument": 
                    {
                        "type": "ID_CARD",
                        "number": "12164246",
                        "issueDate": "2011-01-20",
                        "expireDate": "2019-01-20",
                        "issuer": "MěÚ Jaroměř",
                        "issueCountryCode" : "CZ"
                    },
                "contacts" : 
                    {
                    "residentAddress":
                        {
                        "id" : 528064244,
                        "addressType" : "BASIC",
                        "street": "Polská",
                        "houseNumberNumber": "22",
                        "orientationNumber": "3C",
                        "city": "Jaroměř",
                        "district": "Staré město",
                        "zip": 79000,
                        "countryCode": "CZ"
                        },
                    "contactAddress":
                        {
                        "id" : 52754243,
                        "addressType" : "BASIC",
                        "street": "Finská",
                        "houseNumber": "145",
                        "orientationNumber": "387",
                        "city": "Litvínov",
                        "district": "Staré město",
                        "zip": 89000,
                        "countryCode": "CZ"
                        },
                    "primaryPhone": 
                        {
                            "id" : 12345235,
                            "number" : "+420666123456"
                        },
                    "secondaryPhone": 
                        {
                            "id" : 745879987,
                            "number": "+420666654321"
                        },
                    "primaryEmail": 
                        { 
                            "id" : 2345678,
                            "email" : "some@email.eml"
                        },
                    "secondaryEmail" :
                        {
                            "id" : 87654532,
                            "email": "another@email.eml"
                        }
                }
            },
            "addresses" :
            [
                {
                    "id" : 528064244,
                    "addressType" : "BASIC",
                    "street": "Polská",
                    "houseNumber": "22",
                    "orientationNumber": "3C",
                    "city": "Jaroměř",
                    "district": "Staré město",
                    "zip": 79000,
                    "countryCode": "CZ"
                },
                {
                    "id" : 52754243,
                    "addressType" : "ADDITION",
                    "street": "Finská",
                    "houseNumber": "145",
                    "orientationNumber": "387",
                    "city": "Litvínov",
                    "district": "Staré město",
                    "zip": 89000,
                    "countryCode": "CZ",
                    "addition" : "Doplněk adresy"
                },
                {
                    "id" : 52754242,
                    "addressType" : "DIFF_ADDRESSEE",
                    "street": "Krymská",
                    "houseNumber": "793",
                    "orientationNumber": "56",
                    "city": "Moskva",
                    "district": "Staré město",
                    "zip": 89000,
                    "countryCode": "RU",
                    "addition" : "Doplněk adresy",
                    "differentAddressee" : "Pavel Novák"
                }
            ],
            "phones" :
            [
                { "id" : 12345235, "number" : "+420666123456" },
                { "id" : 745879987, "number": "+420666654321" },
                { "id" : 987656782, "number": "+420666656543" },
                { "id" : 987656783, "number": "+420666656542" },
                { "id" : 987656784, "number": "+420666626543" }
            ],
            "emails" :
            [
                { "id" : 2345678, "email": "some@email.eml" },
                { "id" : 87654532, "email": "another@email.eml" },
                { "id" : 78355820, "email": "yet.another@email.eml" }
            ],
            "products" :
            [
                { 
                    "productId" : 1929390,
                    "viewType" : "GENERAL",
                    "relation" : "Vlastník",
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "contactAddress" :
                        {
                            "id" : 528064244,
                            "addressType" : "BASIC",
                            "street": "Polská",
                            "houseNumber": "22",
                            "orientationNumber": "3C",
                            "city": "Jaroměř",
                            "district": "Staré město",
                            "zip": 79000,
                            "countryCode": "CZ"
                        }
                },
                { 
                    "productId" : 1929391,
                    "viewType" : "DON",
                    "relation" : "Vlastník",
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "accountBalanceEmails" :
                        [
                            { "id" : 2345678, "email" : "some@email.eml" },
                            { "id" : 87654532, "email": "another@email.eml" }
                        ],
                    "accountBalanceSmsNumbers" :
                        [
                            { "id" : 12345235, "number" : "+420666123456" },
                            { "id" : 745879987, "number": "+420666654321" }
                        ],
                    "dealsOverviewAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák"
                        },
                    "dealsOverviewEmail" :
                        { 
                            "id" : 2345678,
                            "email" : "some@email.eml" 
                        },
                    "portfolioOverviewAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák"
                        },
                    "portfolioOverviewEmail" : 
                        { 
                            "id" : 2345678,
                            "email" : "some@email.eml" 
                        },
                    "statementSerieAddress" : 
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák"
                        },
                    "statementSerieEmail" :
                        {
                            "id" : 2345678,
                            "email" : "some@email.eml"
                        }
                },
                {
                    "productId" : 1929392,
                    "viewType" : "EIGER",
                    "relation" : "Vlastník",
                    "cardNumber" : "5380 34** **** 1453",
                    "3dSecurePhoneNumber" : "+420 666 777 888",
                    "pinRecoveryAddress" :
                        {
                            "id" : 52754242,
                            "addressType" : "DIFF_ADDRESSEE",
                            "street": "Krymská",
                            "houseNumber": "793",
                            "orientationNumber": "56",
                            "city": "Moskva",
                            "district": "Staré město",
                            "zip": 89000,
                            "countryCode": "RU",
                            "addition" : "Doplněk adresy",
                            "differentAddressee" : "Pavel Novák"
                        }
                },
                {
                    "productId" : 1929393,
                    "viewType" : "S24",
                    "relation" : "Vlastník",
                    "loginAuthorizationNumber" :
                        {
                            "id" : 745879987,
                            "number": "+420666654321"
                        },
                    "contactAddress" :
                        {
                            "id" : 528064244,
                            "addressType" : "BASIC",
                            "street": "Polská",
                            "houseNumber": "22",
                            "orientationNumber": "3C",
                            "city": "Jaroměř",
                            "district": "Staré město",
                            "zip": 79000,
                            "countryCode": "CZ"
                        },
                    "eInvoiceEmails" : 
                        [
                            { "id" : 2345678, "email" : "some@email.eml" },
                            { "id" : 87654532, "email": "another@email.eml" },
                            { "id" : 78355820, "email": "yet.another@email.eml" }
                        ],
                    "eInvoicePhoneNumbers" : 
                        [
                            { "id" : 12345235, "number" : "+420666123456" },
                            { "id" : 745879987, "number": "+420666654321" },
                            { "id" : 987656782, "number": "+420666656543" }
                        ]
                },
                {
                    "productId" : 1929394,
                    "viewType" : "SPZ",
                    "relation" : "Vlastník",
                    "accountNumber" :
                        {
                            "prefix" : "1234",
                            "number" : "9876543210",
                            "bankCode" : "0800"
                        },
                    "accountBalanceEmails" : 
                        [
                            { "id" : 2345678, "email" : "some@email.eml" },
                            { "id" : 87654532, "email": "another@email.eml" }
                        ],
                    "accountBalanceSmsNumber" : { "id" : 12345235, "number" : "+420666123456" },
                    "adviceEmails" : 
                        [
                            { "id" : 2345678, "email" : "some@email.eml" },
                            { "id" : 87654532, "email": "another@email.eml" }
                        ],
                    "cardOperationSmsNumbers" : 
                        [
                            { "id" : 12345235, "number" : "+420666123456" },
                            { "id" : 745879987, "number": "+420666654321" },
                            { "id" : 987656782, "number": "+420666656543" },
                            { "id" : 987656783, "number": "+420666656542" },
                            { "id" : 987656784, "number": "+420666626543" }
                        ],
[...]
